// Define variables for your color scheme

// For example:
$red: #E3442F;
$blue: #167FFB;
$yellow: #F1C736;
$orange: #E67E22;
$tan: #F3D7B9;
$green: #4F6C4D;
$gray: #2E2C2C;
$light-gray: #F8F8F8;
$white: #FCF5EE;
