<ul><% @schedules.each do |schedule|%>
    <li><%= schedule.date %> </li>
    <li><%= schedule.location %> </li>
  <% end %>
</ul>
<%= render partial: 'shared/react_entry', locals: {data: @schedules.to_json, content_type: "SCHEDULES"} %>
