<div class="main-intro-card">
  <div class="row">
    <div class="col-12">
      <h2>About Kitchen Cart</h2>
      <br>
      <p>Kitchen Cart is a mobile web app that connects local communities and food trucks. Currently in development in Tokyo.</p>
    </div>
  </div>
</div>
