<div class="our-nav">
  <div class="nav-bar-links">
    <%= link_to 'Home', root_path %>
    <%= link_to 'Food Carts', food_carts_path %>
  </div>
  <div class="hamburger">
    <div class="hamburger-slice"></div>
    <div class="hamburger-slice"></div>
    <div class="hamburger-slice"></div>
  </div>
  <%if current_user%>
    <%= link_to 'Create New Food Cart', new_food_cart_path %>
  <%end%>

</div>

<script>
var stuff = ['hamburger', 'hamburger-slice'];
var navOut = false;
const burg = document.querySelector('.hamburger');
const links = document.querySelector('.nav-bar-links');
burg.addEventListener('click', function() {
  if (!navOut){
    navOut = true;
    links.style.top = '60px';
  }else{
    navOut = false;
    links.style.top = '-100px';
  }
})
document.addEventListener('click', function(e){
  if (!stuff.includes(e.target.className)){
    links.style.top = '-100px';
    navOut = false;
  }
});
</script>

