<div class="searchbar">
  <div class="row">
    <div class="col-12">
      <form role="search" id="form">
      <input type="search" id="query" name="q" placeholder="Search for a location" aria-label="Search through site content">
        <button>Search</button>
      </form>
    </div>
  </div>
</div>