h1 {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

h2,h3,h4,h5 {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
}

p {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}
