/* Universal styles */

h1 {
  font-family: "Ubuntu", "Helvetica", sans-serif;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", "Helvetica", sans-serif;
}

p {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 18px;
}

body {
  background-color: $white;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

img {
  max-width: 100%;
}

.fa-heart {
  color: $red;
}