.all-button {
  background-color: $red;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.food-button {
  background-color: $yellow;
  border: none;
  color: $black;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.drinks-button {
  background-color: $green;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.location-button {
  background-color: $green;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.location-button-container {
  padding: 32px 0px;
  max-width: 800px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.owned-button {
  background-color: #c5c5c5;
  border: none;
  color: #333333;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.fa-heart {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: black;
}


@media (max-width: 450px) {
  .location-button-container {
    flex: 1 1 auto;
    margin: 0 auto;
  }
  .divider{
    width: 32px;
    height: auto;
    display: inline-block;
  }
}
