.all-button {
  background-color: $red;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.food-button {
  background-color: $yellow;
  border: none;
  color: $black;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.drinks-button {
  background-color: $green;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}