.all-button {
  background-color: $red;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.food-button {
  background-color: $yellow;
  border: none;
  color: $black;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.drinks-button {
  background-color: $green;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.location-button {
  background-color: $green;
  border: none;
  color: $tan;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.location-button-container {
  width: 90%;
  height: fit-content;
  padding: 16px;
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
