/* Main Intro Card on Login Page */

.main-intro-card {
  background-color: $tan;
  border-radius: 30px;
  justify-content: center;
  padding: 30px;
}

// block of food cart cards
.FoodCartCard {
  margin-bottom: 16px;
}

//food_cart individual card
.food_cart-card {
  width: 343px;
  height: 160px;
  padding: 16px;
  background-color: $yellow;

  // card image | content layout
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  flex-grow: 1;
  grid-gap: 16px;
}

.location-tag {
  position: absolute;
  font-size: 8px;
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  top: 10px;
  left: 8px;
  z-index: 1;
}

.food_cart-image {
  position: relative;
  width: 100%;
  height: 128px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.food_cart-content {
  position: relative;
}
.food-cart-name {
  p {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
}
.icon {
  position: absolute;
  top: -2px;
  right: 2px;
  p {
    font-size: 20px;
  }
}

.card-description {
  font-size: 10px;
  line-height: 12px;
  margin-top: 12px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  width: 16em;
  height: 3.7em;

  #text {
    font-size: 10px;
  }
}

.body-text-bold {
  font-size: 12px;
}

//food-item-card

.food-item-card {
  max-width: 600px;
  width: 90%;
  height: fit-content;
  border-radius: 8px;
  padding: 16px;
  margin: 32px 0px 32px 0px;
  background-color: $tan;
}

.food-item-image {
}
.food-item-text {
}
