// block of food cart cards
.FoodCartCard {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//food_cart individual card
.food_cart-card:nth-of-type(1n) {
  background-color: $yellow;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color: $black;
  max-width: 800px;
  width: 80vw;
  min-height: 160px;
  max-height: 200px;
  padding: 16px;
  margin: 16px 0px 16px 0px;
  overflow: hidden;
  a {
    color: $black;
  }

  // card image | content layout
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 16px;
}

.food_cart-card:nth-of-type(2n) {
  background-color: $green;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color: $white;
  max-width: 800px;
  width: 80vw;
  min-height: 160px;
  max-height: 200px;
  padding: 16px;
  margin: 16px 0px 16px 0px;
  overflow: hidden;
  a {
    color: $white;
  }

  // card image | content layout
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 16px;
}

.food_cart-card:nth-of-type(3n) {
  background-color: $tan;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color: $black;
  max-width: 800px;
  width: 80vw;
  min-height: 160px;
  max-height: 200px;
  padding: 16px;
  margin: 16px 0px 16px 0px;
  overflow: hidden;
  a {
    color: $black;
  }

  // card image | content layout
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 16px;
}


@media only screen and (max-width: 400px) {
  .food_cart-card {
    width: 92vw;
  }
}

.location-tag {
  position: absolute;
  font-size: 8px;
  background-color: white;
  color: $black;
  padding: 4px;
  border-radius: 4px;
  top: 10px;
  left: 8px;
  z-index: 1;
}

.food_cart-image {
  position: relative;
  height: 170px;

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-radius: 8px;
  }
}

.food_cart-content {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}
.food-cart-name {
  p {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
}
.icons {
  top: -2px;
  right: 2px;
  p {
    font-size: 20px;
  }
}

.card-description {
  font-size: 14px;
  position: relative;
  overflow: auto;
  width: 90%;
  height: 6em;
}

.body-text-bold {
  font-size: 12px;
}

.heart-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  align-items: space-evenly;
  text-align: right;
}

//food-item-card

.food-item-card {
  max-width: 600px;
  width: 90%;
  height: fit-content;
  border-radius: 8px;
  padding: 16px;
  margin: 32px 0px 32px 0px;
  background-color: $tan;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.food-item-image {
  padding-bottom: 15px;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .food_cart-content .heart-icon {
    position: absolute;
    right: -5px;
    top: -10px;
  }
  .food_cart-content {
    display: grid; 
  }
}