.MapFoodCartCard {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(70, 70, 70, 0.7);
  z-index: 1000;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-box {
    min-width: 280px;
    min-height: 200px;
    background-color: $tan;
    border-radius: 8px;
    box-shadow: rgba(0.7, 0.7, 0.7, 0.5) 0px 0px 2px 2px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: black;
  }
  .closer-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .closer {
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
  }
  .closer:hover {
    font-size: 22px;
  }
  .food-cart-name {
    color: $green;
  }
}
a:hover {
  color: initial;
}

.FoodCarts {
  margin: 0 auto;
}