.marker {
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  img {
    width: 30px;
  }
}
.marker-label {
  background-color: $yellow;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 4px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  transition: width 0.3s, opacity 0.3s;
  z-index: 100000;
}

#map {
  position: relative;
  height: 300px;
  width: 100vw;
}
