.navbar-lewagon {
  justify-content: space-between;
  background: $red;
  overflow: hidden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
