.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
