.Schedules {
  display: flex;
  flex-direction: column;
  .top-calendar {
    background-color: #f1c736;
    color: $green;
  }
  .seperator {
    height: 2px;
    width: 90%;
    border-radius: 8px;
    background-color: $green;
  }
  .calendar-cards-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .DayCard {
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: fit-content;
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: $white;
    .day-of-month {
      font-size: x-large;
      font-weight: bold;
    }
  }
  .green-back {
    background-color: $green;
    color: #f1c736;
  }
  .detailed-schedules {
    display: flex;
    flex-direction: column;
  }
  .detailed-schedule {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    padding: 16px;
    height: 200px;
    overflow-y: scroll;
    .divider {
      height: 100%;
      width: 5px;
      border-radius: 6px;
      margin-left: 16px;
      margin-right: 16px;
    }
    .detailed-time-info {
      display: flex;
      margin-left: 16px;
    }
    .times-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 16px;
    }
    .place-info {
      border-radius: 6px;
      border-style: solid;
      border-width: 2px;
      margin-left: 16px;
      margin-bottom: 16px;
      padding: 8px;
    }
  }
  .light-border {
    border-style: solid;
    border-radius: 6px;
    border-color: lightgray;
    border-width: 1px;
  }
  .green-text {
    color: $green;
  }
  .month-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 8px;
    font-weight: 100;
    .month-name {
      font-size: 30px;
    }
  }
}
.tan-border {
  border-color: #f3d7b9;
}
.tan-back {
  background-color: #f3d7b9;
}
.green-border {
  border-color: $green;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.next-week-btn {
  background-color: transparent;
  border-style: none;
  font-size: 40px;
  color: $green;
}

@media only screen and (max-width: 600px) {
  .DayCard {
    max-width: 42px;
  }
  .calendar-cards-container {
    overflow-y: scroll;
  }
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.add-schedule {
  color: $red;
}

.new-schedule {
  input[type='text'] {
    border-radius: 8px;
    font-size: 16px;
    border-width: 1px;
  }
  .search-button {
    border-radius: 8px;
  }
  .simple-form-container {
    max-width: 800px;
  }
  .top-container {
    padding: 16px;
  }
  .bottom-container {
    padding: 16px;
  }
}
