/* Searchbar on Login Page */

search-form {
  margin: 30px;
  background-color: $tan;
  border-radius: 30px;
  justify-content: center;
  padding: 30px;
  width: 300px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 18px;
  color: $gray;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: $gray;
  opacity: 0.7; 
}

search-button {
  all: unset;
  cursor: pointer;
  width: 88px;
  height: 44px;
  color: $gray;
}
