<%= javascript_pack_tag 'FoodCarts/index' %>
<% @food_carts.each do |food_cart| %>
  <ul>
    <li><%= food_cart.id %></li>
    <li><%= food_cart.name %></li>
    <%= link_to 'more info', food_cart_path(food_cart) %>
  </ul>
<%  end %>