<%# Map for the food carts %>
<div id="map"
     style="width: 100%; height: 16rem;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div id="root" data-food-carts="<%=@food_carts.to_json%>"></div>
<%= javascript_pack_tag 'FoodCarts/index' %>