<div>
  <%= link_to 'create schedule', new_food_cart_schedule_path(@food_cart) %>
  <%= link_to 'Show food Items', new_menu_food_item_path(@food_cart) %>
  
</div>
<%= render partial: 'shared/react_entry', locals: {data: @food_cart.to_json(include: [:schedules, :menu, :food_items]), content_type: "FOOD_CART"} %>
